CODIGO FUENTE/flows (3).json
[{"id":"8ba98e38.97f68","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"9c1a5e0e.53674","type":"ui_button","z":"8ba98e38.97f68","name":"","group":"c61da8b6.cc26f8","order":0,"width":0,"height":0,"passthru":false,"label":"Enceder","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Encendida","payloadType":"str","topic":"","x":160,"y":120,"wires":[["4f8050fe.63812","9a4a3c4e.b72df"]]},{"id":"ad4396d0.4b8418","type":"ui_button","z":"8ba98e38.97f68","name":"","group":"c61da8b6.cc26f8","order":0,"width":0,"height":0,"passthru":false,"label":"Apagar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Apagada","payloadType":"str","topic":"","x":150,"y":180,"wires":[["4f8050fe.63812","63b55cfa.0ba434"]]},{"id":"4f8050fe.63812","type":"ui_text","z":"8ba98e38.97f68","group":"c61da8b6.cc26f8","order":2,"width":0,"height":0,"name":"","label":"Hornilla","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":120,"wires":[]},{"id":"f2e28e20.4f903","type":"ui_gauge","z":"8ba98e38.97f68","name":"","group":"c61da8b6.cc26f8","order":1,"width":0,"height":0,"gtype":"gage","title":"Flama","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":200,"wires":[]},{"id":"9a4a3c4e.b72df","type":"ui_audio","z":"8ba98e38.97f68","name":"","group":"c61da8b6.cc26f8","voice":"es-ES","always":"","x":370,"y":80,"wires":[]},{"id":"8548c3dc.3b42c","type":"ui_slider","z":"8ba98e38.97f68","name":"","label":"slider","tooltip":"","group":"c61da8b6.cc26f8","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":290,"y":240,"wires":[["f2e28e20.4f903"]]},{"id":"63b55cfa.0ba434","type":"ui_audio","z":"8ba98e38.97f68","name":"","group":"c61da8b6.cc26f8","voice":"es-ES","always":"","x":350,"y":180,"wires":[]},{"id":"bbf3c180.54cb3","type":"ui_switch","z":"8ba98e38.97f68","name":"","label":"switch","tooltip":"","group":"b7770d68.29fc6","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"Enceder","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Apagar","offvalueType":"str","officon":"","offcolor":"","x":150,"y":300,"wires":[["b99cb834.8a12b8","68d1c291.97f72c"]]},{"id":"b99cb834.8a12b8","type":"ui_text","z":"8ba98e38.97f68","group":"b7770d68.29fc6","order":3,"width":0,"height":0,"name":"","label":"Estado del bombillo:","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":300,"wires":[]},{"id":"68d1c291.97f72c","type":"ui_toast","z":"8ba98e38.97f68","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":390,"y":340,"wires":[]},{"id":"c61da8b6.cc26f8","type":"ui_group","z":"","name":"cocina","tab":"30e0a7b6.7587a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"b7770d68.29fc6","type":"ui_group","z":"","name":"Luces","tab":"30e0a7b6.7587a8","order":2,"disp":true,"width":"6","collapse":false},{"id":"30e0a7b6.7587a8","type":"ui_tab","z":"","name":"Cocina","icon":"dashboard","order":3,"disabled":false,"hidden":false}]