CODIGO FUENTE/flows (4).json
[{"id":"8922e2ca.a5f0f","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"892fda17.4caaf8","type":"ui_switch","z":"8922e2ca.a5f0f","name":"","label":"switch","tooltip":"","group":"39d242f5.30ca1e","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"Ducha Abierta","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Ducha Cerrada","offvalueType":"str","officon":"","offcolor":"","x":90,"y":300,"wires":[["fba3c951.d59cc8","d15e4e3e.9bbf7","d2f949cf.407f38"]]},{"id":"9020ab3e.5b7778","type":"ui_text","z":"8922e2ca.a5f0f","group":"39d242f5.30ca1e","order":1,"width":0,"height":0,"name":"","label":"Temperatura :","format":"{{msg.payload}}","layout":"row-spread","x":380,"y":100,"wires":[]},{"id":"c36bebb5.05c088","type":"ui_gauge","z":"8922e2ca.a5f0f","name":"","group":"39d242f5.30ca1e","order":4,"width":0,"height":0,"gtype":"gage","title":"nivel de agua","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#08e2df","#0e3dfb","#910aff"],"seg1":"","seg2":"","x":660,"y":200,"wires":[]},{"id":"fba3c951.d59cc8","type":"ui_audio","z":"8922e2ca.a5f0f","name":"","group":"39d242f5.30ca1e","voice":"es-ES","always":"","x":380,"y":320,"wires":[]},{"id":"3734de20.c28c62","type":"ui_slider","z":"8922e2ca.a5f0f","name":"","label":"slider","tooltip":"","group":"39d242f5.30ca1e","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":650,"y":260,"wires":[["c36bebb5.05c088"]]},{"id":"d425e831.910c88","type":"ui_button","z":"8922e2ca.a5f0f","name":"","group":"39d242f5.30ca1e","order":3,"width":0,"height":0,"passthru":false,"label":"Agua Caliente","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Agua Caliente","payloadType":"str","topic":"","x":160,"y":140,"wires":[["9020ab3e.5b7778","3b7d9446.20bdbc"]]},{"id":"3c327c2.a0fd784","type":"ui_button","z":"8922e2ca.a5f0f","name":"","group":"39d242f5.30ca1e","order":2,"width":0,"height":0,"passthru":false,"label":"Agua fría","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Agua Fria","payloadType":"str","topic":"","x":160,"y":60,"wires":[["9020ab3e.5b7778","87996582.e62f88"]]},{"id":"d2f949cf.407f38","type":"ui_text","z":"8922e2ca.a5f0f","group":"39d242f5.30ca1e","order":6,"width":0,"height":0,"name":"","label":"Ducha","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":260,"wires":[]},{"id":"d15e4e3e.9bbf7","type":"ui_toast","z":"8922e2ca.a5f0f","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":270,"y":400,"wires":[]},{"id":"87996582.e62f88","type":"ui_toast","z":"8922e2ca.a5f0f","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":330,"y":20,"wires":[]},{"id":"3b7d9446.20bdbc","type":"ui_toast","z":"8922e2ca.a5f0f","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":350,"y":180,"wires":[]},{"id":"39d242f5.30ca1e","type":"ui_group","z":"","name":"Agua","tab":"8f9794aa.584e28","order":1,"disp":true,"width":"6","collapse":false},{"id":"8f9794aa.584e28","type":"ui_tab","z":"","name":"Ducha","icon":"dashboard","order":4,"disabled":false,"hidden":false}]