CODIGO FUENTE/flows (5).json
[{"id":"aa5a4d51.f7e73","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"82361efb.52737","type":"ui_button","z":"aa5a4d51.f7e73","name":"","group":"acdaea9a.feafc8","order":2,"width":0,"height":0,"passthru":false,"label":"Encender luces","tooltip":"","color":"","bgcolor":"","icon":"","payload":"luces encendidas","payloadType":"str","topic":"","x":150,"y":80,"wires":[["842da138.ab637","ef02fa13.0805c8"]]},{"id":"21204534.f72d3a","type":"ui_button","z":"aa5a4d51.f7e73","name":"","group":"acdaea9a.feafc8","order":3,"width":0,"height":0,"passthru":false,"label":"Apagar luces","tooltip":"","color":"","bgcolor":"","icon":"","payload":"luces apagadas","payloadType":"str","topic":"","x":140,"y":160,"wires":[["842da138.ab637","e34754f0.1d2578"]]},{"id":"842da138.ab637","type":"ui_text","z":"aa5a4d51.f7e73","group":"acdaea9a.feafc8","order":1,"width":0,"height":0,"name":"","label":"indicador de luces:","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":120,"wires":[]},{"id":"e34754f0.1d2578","type":"ui_toast","z":"aa5a4d51.f7e73","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":380,"y":200,"wires":[]},{"id":"ef02fa13.0805c8","type":"ui_toast","z":"aa5a4d51.f7e73","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":460,"y":60,"wires":[]},{"id":"f365def9.24fce","type":"ui_button","z":"aa5a4d51.f7e73","name":"","group":"566c9245.0113ec","order":1,"width":0,"height":0,"passthru":false,"label":"Abrir","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Abriendo la puerta del garage","payloadType":"str","topic":"","x":130,"y":360,"wires":[["87985a14.949ef8","489db65d.240338","bd588798.e17b48"]]},{"id":"1edd9ab.b870a65","type":"ui_button","z":"aa5a4d51.f7e73","name":"","group":"566c9245.0113ec","order":2,"width":0,"height":0,"passthru":false,"label":"Cerrar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"cerrando la puerta del garage","payloadType":"str","topic":"","x":90,"y":460,"wires":[["87985a14.949ef8","e7ab982f.aaee08","89dab58c.0dcaf8"]]},{"id":"87985a14.949ef8","type":"ui_text","z":"aa5a4d51.f7e73","group":"566c9245.0113ec","order":4,"width":0,"height":0,"name":"","label":"puerta de garage","format":"{{msg.payload}}","layout":"row-center","x":350,"y":400,"wires":[]},{"id":"489db65d.240338","type":"ui_toast","z":"aa5a4d51.f7e73","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":350,"y":320,"wires":[]},{"id":"e7ab982f.aaee08","type":"ui_toast","z":"aa5a4d51.f7e73","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":350,"y":460,"wires":[]},{"id":"89dab58c.0dcaf8","type":"ui_audio","z":"aa5a4d51.f7e73","name":"","group":"566c9245.0113ec","voice":"","always":"","x":310,"y":560,"wires":[]},{"id":"bd588798.e17b48","type":"ui_audio","z":"aa5a4d51.f7e73","name":"","group":"566c9245.0113ec","voice":"","always":"","x":370,"y":280,"wires":[]},{"id":"acdaea9a.feafc8","type":"ui_group","z":"","name":"luces","tab":"5128f9dd.6e01b8","order":2,"disp":true,"width":"6","collapse":false},{"id":"566c9245.0113ec","type":"ui_group","z":"","name":"puerta garage","tab":"5128f9dd.6e01b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"5128f9dd.6e01b8","type":"ui_tab","z":"","name":"Garage","icon":"dashboard","order":5,"disabled":false,"hidden":false}]