CODIGO FUENTE/flows (1).json
[{"id":"869f429e.25f81","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e68eb6cd.0a9e58","type":"debug","z":"869f429e.25f81","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":300,"y":180,"wires":[]},{"id":"cf3c4fd1.b54dd","type":"ui_text","z":"869f429e.25f81","group":"ed968197.d6b0c","order":4,"width":0,"height":0,"name":"","label":"Luces led","format":"{{msg.payload}}","layout":"row-spread","x":310,"y":120,"wires":[]},{"id":"f48d2ec5.82795","type":"ui_gauge","z":"869f429e.25f81","name":"","group":"dafe0606.efc518","order":1,"width":0,"height":0,"gtype":"gage","title":"luminiscencia","label":"units","format":"{{value}}","min":0,"max":"150","colors":["#94fff3","#1f4bf9","#ff2ef1"],"seg1":"50","seg2":"100","x":310,"y":300,"wires":[]},{"id":"d259ff06.dd805","type":"ui_slider","z":"869f429e.25f81","name":"","label":"slider","tooltip":"","group":"dafe0606.efc518","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"150","step":1,"x":80,"y":240,"wires":[["f48d2ec5.82795","8b84156b.69bf78","5ce992b4.51a93c"]]},{"id":"8b84156b.69bf78","type":"ui_chart","z":"869f429e.25f81","name":"","group":"2e4029a3.964d86","order":2,"width":"0","height":"0","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"150","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":270,"y":340,"wires":[[]]},{"id":"5ce992b4.51a93c","type":"ui_chart","z":"869f429e.25f81","name":"","group":"dafe0606.efc518","order":3,"width":0,"height":0,"label":"chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":250,"y":380,"wires":[[]]},{"id":"b1ddf01e.b32dc","type":"ui_audio","z":"869f429e.25f81","name":"","group":"ed968197.d6b0c","voice":"es-ES","always":"","x":300,"y":60,"wires":[]},{"id":"a911c1.18f96e4","type":"ui_toast","z":"869f429e.25f81","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":330,"y":220,"wires":[]},{"id":"d2e1f1b9.c25bd","type":"ui_colour_picker","z":"869f429e.25f81","name":"","label":"color","group":"ed968197.d6b0c","format":"hex","outformat":"string","showSwatch":true,"showPicker":true,"showValue":false,"showHue":true,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"true","order":4,"width":"6","height":"7","passthru":true,"topic":"","x":190,"y":20,"wires":[[]]},{"id":"bdc72bbb.f2a1b8","type":"ui_text","z":"869f429e.25f81","group":"dafe0606.efc518","order":4,"width":0,"height":0,"name":"","label":"estado del foco:","format":"{{msg.payload}}","layout":"row-spread","x":380,"y":500,"wires":[]},{"id":"6e8fab50.36bef4","type":"ui_dropdown","z":"869f429e.25f81","name":"","label":"","tooltip":"","place":"selccione que foco desea encender","group":"fc8a266b.a04768","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Foco izquierdo","value":"Lampara","type":"str"},{"label":"Foco derecho","value":"Foco","type":"str"},{"label":"Ambos","value":"Foco y lampara","type":"str"}],"payload":"","topic":"","x":180,"y":480,"wires":[["bdc72bbb.f2a1b8"]]},{"id":"5c25c97a.2efc78","type":"ui_button","z":"869f429e.25f81","name":"","group":"fc8a266b.a04768","order":2,"width":0,"height":0,"passthru":false,"label":"Encender","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Encendido","payloadType":"str","topic":"","x":160,"y":520,"wires":[["bdc72bbb.f2a1b8","334739de.d07ca6"]]},{"id":"4b933bc7.2e46e4","type":"ui_button","z":"869f429e.25f81","name":"","group":"fc8a266b.a04768","order":1,"width":0,"height":0,"passthru":false,"label":"Apagar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Apagado","payloadType":"str","topic":"","x":160,"y":580,"wires":[["bdc72bbb.f2a1b8","ac10ff91.2e432"]]},{"id":"ac10ff91.2e432","type":"ui_toast","z":"869f429e.25f81","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":380,"y":600,"wires":[]},{"id":"334739de.d07ca6","type":"ui_toast","z":"869f429e.25f81","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":390,"y":560,"wires":[]},{"id":"fc7c4644.989788","type":"ui_switch","z":"869f429e.25f81","name":"","label":"LED","tooltip":"","group":"ed968197.d6b0c","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"Encender led","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Apagar led","offvalueType":"str","officon":"","offcolor":"","x":70,"y":120,"wires":[["d2e1f1b9.c25bd","b1ddf01e.b32dc","cf3c4fd1.b54dd","e68eb6cd.0a9e58","a911c1.18f96e4"]]},{"id":"ed968197.d6b0c","type":"ui_group","z":"","name":"boton","tab":"ec4f3e32.b1ca2","order":1,"disp":true,"width":"6","collapse":false},{"id":"dafe0606.efc518","type":"ui_group","z":"","name":"potencia","tab":"ec4f3e32.b1ca2","order":2,"disp":true,"width":"6","collapse":false},{"id":"2e4029a3.964d86","type":"ui_group","z":"","name":"grafica de intensidad","tab":"ec4f3e32.b1ca2","order":4,"disp":true,"width":"6","collapse":false},{"id":"fc8a266b.a04768","type":"ui_group","z":"","name":"foco","tab":"ec4f3e32.b1ca2","order":3,"disp":true,"width":"6","collapse":false},{"id":"ec4f3e32.b1ca2","type":"ui_tab","z":"","name":"Dormitorio matrimonial","icon":"dashboard","disabled":false,"hidden":false}]